<!-- <div class="grid-stack-item journey-sub-grid" id="journey-sub-grid" data-gs-x="4" data-gs-y="2" data-gs-width="3" data-gs-height="3">
    <div class="grid-stack-item-content"> -->

        <!-- Journey Master Div -->
        <div class="journey-sub-wrapper" id="journey-sub-wrapper" *ngIf="isDisplay">


            <!-- Journey Header-->
            <div class="journey-sub-header">
                <div class="journey-sub-header-left">
                    <img src="/assets/dist/img/icons/journey-head-icon.png">
                    <span style="padding-right: 5px">{{SelectedJorney.JOUNEY_NAME}}</span>
                </div>

                <div class="journey-sub-header-right">
                    <a class="journey-sub-dot-menu" (click)="toggleDelete()">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                   
                    <a href="javascript:void(0)" (click)="toggleclosebtn()">
                        <i style="padding-left: 5px; border-left:1px solid #78500c" class="fa fa-close"></i>
                    </a>
                </div>

            </div>

            <!-- Journey Body-->
            <div class="journey-sub-body" id="journey-sub-body">

                <div class="table-responsive">
                    <table>
                        <tbody>

                            <!-- content 01 -->
                            <tr *ngFor="let script of JourneyScripts">
                                <td class="CR-tableLeft">
                                    <h5>{{ script.verse}}</h5>
                                 <a *ngIf="showDelete" (click)="deleteJourneyItem(script)"><i class="fa fa-trash-o" ></i></a> 
                                </td>
                                <td class="CR-tableRight">
                                    <p>{{script.meaning}}</p>
                                </td>
                            </tr>

                            <!-- content 02 -->
                            <!-- <tr>
                                <td class="CR-tableLeft">
                                    <h5>Mar 4:19</h5>
                                    <button type="submit">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td class="CR-tableRight">
                                    <p>
                                        For the one who sows to his own flesh will from the flesh reap corruption, but the one who sows to the Spirit will from the Spirit reap eternal life.
                                    </p>
                                </td>
                            </tr> -->

                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    <!-- </div>
</div> -->