<!-- <div  class="grid-stack-item calendar-panel-grid" id="calendar-panel-grid" >
    <div class="grid-stack-item-content"> -->
        <div id="calendar-panel-wrapper" class="calendar-panel-wrapper" data-id="calendar-panel-wrapper">
            <div class="calendar-panel-header" ondblclick="$('#calendar-panel').toggle()">
                <div class="calendar-panel-header-left">
                    <img src="/assets/dist/img/icons/chat-queue-head-icon.png">
                    <span>Calendar</span>
                </div>
                <div class="calendar-panel-header-right">
                    <a (click)="toggleDisplayDiv()" id="calender-panel-collapse-btn"><img src="/assets/dist/img/icons/appointment.png"></a>
                    <a href="javascript:void(0)" (click)="toggleclose()" id="calendar-panel-close-btn"><i
              class="fa fa-close"></i></a>
                </div>
            </div>
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="calendar-panel-body" id="calendar-panel">

                    <div class="schedule-calender" style="
                    border-right: 2px solid #78500b; margin-right: 2%;">

                        <ejs-calendar id="firstcalendar" #ejCalendar (change)="ScheduleDate($event) && customDates($event)" [value]='dateValue' (renderDayCell)='customDates($event)'>

                        </ejs-calendar>


                        <div class="mark">
                            <h5 class="current"><span></span> Current Date</h5>
                            <h5 class="chat-1"><span></span> 1 Chat</h5>
                            <h5 class="appointment"><span></span>2 or more Chats</h5>
                        </div>
                    </div>
                    <div class=" schedule-appointment1">

                        <h5><span>
                <p style="text-indent: 70px; 
                                padding-top: 10px; ">{{todayString | date:'MMMM dd'}}</p>
              </span></h5>

                        <style>
                            .calendar-panel-body .schedule-appointment table td input[type="text"] {
                                border: 1px solid #78500c;
                                border-radius: 3px;
                                padding: 4px 1px;
                            }
                        </style>
                        <p *ngIf="noRecords"> {{message}} </p>
                        <table class="table-striped table-reponsive calendar-panel-body" style="margin-bottom: 10px; width:46% !important">
                            <thead *ngIf="records">
                                <tr>
                                    <th style="color: #78500c; width: 100px;  font-size:16px; font-weight:200 ">Time &nbsp;&nbsp;</th>
                                    <th style="color:#78500c ;  font-size:16px; font-weight:200">Name </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor=" let schedule of UserRoomList ">

                                    <td style="color: #78500c;  font-size:14px; 
                                    padding-left: 5px;"> {{schedule.schedule_time}}</td>
                                    <td style="color:#78500c ;  font-size:14px; font-weight:200 "> {{schedule.schedule_name}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="schedule-appointment2 gridster-item-content" [hidden]="isShowDiv ">

                        <h5 style="margin-top: 10px;"><i class="fa fa-arrow-left " aria-hidden="true "></i> Set an Appointment:</h5>
                        <div>
                            <div class="row">
                                <select name="schedule_time" style="margin:auto; width: 15%;" [(ngModel)]="schedule_time" required>
                  <option *ngFor="let time of timing " value="{{time}} ">{{time}}</option>
                </select>

                                <select name="schedule_minutes " style="margin:auto;width: 15%;" [(ngModel)]="schedule_minutes" required>
                  <option *ngFor="let minute of minutes " value="{{minute}} ">{{minute}}</option>
                </select>
                                <select name="ampmvalue " style="margin:auto;width: 15%;" [(ngModel)]="am">
                  <option *ngFor="let am of ampm " value="{{am}} ">
                    {{am}}
                  </option>
                </select>
                                <button type="submit" style="display: block; width:30%; float:left;    padding: 0px;
                                margin: auto;" class="confirm ">Confirm</button>

                            </div>

                        </div>

                        <div class="final-appointment gridster-item-content" style="margin-right: 10px;">

                            <input hidden [(ngModel)]="form.schedule_date " name="schedule_date " [(value)]="scheduledate ">
                            <h5 class="date ">{{todayString | date:'dd MMMM yyyy'}}</h5>
                            <h3 class="time ">{{ schedule_time +": "+ schedule_minutes +" "+ am }}
                            </h3>
                        </div>
                        <div class="prefer gridster-item-content column">
                            <div class="name-block gridster-item-content " style="margin-right: 10px;">
                                <label for="schedule_name ">Name:</label>
                                <input class="form-control " type="text " [(ngModel)]="form.schedule_name " name="schedule_name " placeholder="Enter Name " required>
                            </div>
                            <div class="name-block gridster-item-content" style="margin-right: 10px;">
                                <label for="schedule_email ">Email:</label>
                                <input class="form-control " name="schedule_email " [(ngModel)]="form.schedule_email " type="email " placeholder="Enter Email " required>
                            </div>
                            <div class="name-block gridster-item-content " style="margin-right: 10px;">
                                <label for="comments ">Comments:</label>
                                <input class="form-control " type="text " name="comments " [(ngModel)]="form.comments " placeholder="comments " required>

                            </div>


                        </div>

                    </div>
                </div>
            </form>

        </div>
    <!-- </div>
</div> -->

<!-- <div class="grid-stack-item calendar-panel-grid" id="calendar-panel-grid" data-gs-height="5" data-gs-min-height="3" data-gs-min-width="2" data-gs-width="4" data-gs-x="4" data-gs-y="4">
    <div class="grid-stack-item-content">
        <div id="calendar-panel-wrapper" class="calendar-panel-wrapper" data-id="calendar-panel-wrapper">
            <div class="calendar-panel-header" ondblclick="$('#calendar-panel').toggle()">
                <div class="calendar-panel-header-left">
                    <img src="/assets/dist/img/icons/chat-queue-head-icon.png">
                    <span>Calendar</span>
                </div>
                <div class="calendar-panel-header-right">
                    <a (click)="toggleDisplayDiv()" id="calender-panel-collapse-btn"><img src="/assets/dist/img/icons/appointment.png"></a>
                    <a href="javascript:void(0)" (click)="toggleclose()" id="calendar-panel-close-btn"><i
              class="fa fa-close"></i></a>
                </div>
            </div>
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="calendar-panel-body" id="calendar-panel">

                    <div class="schedule-calender" style="
                    border-right: 2px solid #78500b; margin-right: 2%;">

                        <ejs-calendar id="firstcalendar" #ejCalendar (change)="ScheduleDate($event) && customDates($event)" [value]='dateValue' (renderDayCell)='customDates($event)'>

                        </ejs-calendar>


                        <div class="mark">
                            <h5 class="current"><span></span> Current Date</h5>
                            <h5 class="chat-1"><span></span> 1 Chat</h5>
                            <h5 class="appointment"><span></span>2 or more Chats</h5>
                        </div>
                    </div>
                    <div class=" schedule-appointment1">

                        <h5><span>
                <p style="text-indent: 70px; 
                                padding-top: 10px; ">{{todayString | date:'MMMM dd'}}</p>
              </span></h5>

                        <style>
                            .calendar-panel-body .schedule-appointment table td input[type="text"] {
                                border: 1px solid #78500c;
                                border-radius: 3px;
                                padding: 4px 1px;
                            }
                        </style>
                        <p *ngIf="noRecords"> {{message}} </p>
                        <table class="table-striped table-reponsive calendar-panel-body" style="margin-bottom: 10px; width:46% !important">
                            <thead *ngIf="records">
                                <tr>

                                    <th style="color: #78500c; width: 100px;  font-size:16px; font-weight:200 ">Time &nbsp;&nbsp;</th>
                                    <th style="color:#78500c ;  font-size:16px; font-weight:200">Name </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor=" let schedule of UserRoomList ">

                                    <td style="color: #78500c;  font-size:14px; 
                                    padding-left: 5px;"> {{schedule.schedule_time}}</td>
                                    <td style="color:#78500c ;  font-size:14px; font-weight:200 "> {{schedule.schedule_name}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="schedule-appointment2 gridster-item-content" [hidden]="isShowDiv ">

                        <h5 style="margin-top: 10px;"><i class="fa fa-arrow-left " aria-hidden="true "></i> Set an Appointment:</h5>
                        <div>
                            <div class="row">
                                <select name="schedule_time" style="margin:auto; width: 15%;" [(ngModel)]="form.schedule_time " required>
                  <option *ngFor="let time of timing " value="{{time}} ">{{time}}</option>
                </select>

                                <select name="schedule_minutes " style="margin:auto;width: 15%;" [(ngModel)]="form.schedule_minutes " required>
                  <option *ngFor="let minute of minutes " value="{{minute}} ">{{minute}}</option>
                </select>
                                <select name="ampmvalue " style="margin:auto;width: 15%;" [(ngModel)]="form.ampmvalue ">
                  <option *ngFor="let am of ampm " value="{{am}} ">
                    {{am}}
                  </option>
                </select>
                                <button type="submit" style="display: block; width:30%; float:left;    padding: 0px;
                                margin: auto;" class="confirm ">Confirm</button>

                            </div>

                        </div>

                        <div class="final-appointment gridster-item-content" style="margin-right: 10px;">

                            <input hidden [(ngModel)]="form.schedule_date " name="schedule_date " [(value)]="scheduledate ">
                            <h5 class="date ">{{todayString | date:'dd MMMM yyyy'}}</h5>
                            <h3 class="time ">{{ form.schedule_time +": "+ form.schedule_minutes +" "+ form.ampmvalue }}
                            </h3>
                        </div>
                        <div class="prefer gridster-item-content column">
                            <div class="name-block gridster-item-content " style="margin-right: 10px;">
                                <label for="schedule_name ">Name:</label>
                                <input class="form-control " type="text " [(ngModel)]="form.schedule_name " name="schedule_name " placeholder="Enter Name " required>
                            </div>
                            <div class="name-block gridster-item-content" style="margin-right: 10px;">
                                <label for="schedule_email ">Email:</label>
                                <input class="form-control " name="schedule_email " [(ngModel)]="form.schedule_email " type="email " placeholder="Enter Email " required>
                            </div>
                            <div class="name-block gridster-item-content " style="margin-right: 10px;">
                                <label for="comments ">Comments:</label>
                                <input class="form-control " type="text " name="comments " [(ngModel)]="form.comments " placeholder="comments " required>

                            </div>


                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div> -->