<!-- Work Area Div -->
<!-- <div class="grid-stack-item work-area-grid" id="work-area-grid" data-gs-x="0" data-gs-y="12" data-gs-width="4" data-gs-height="7" data-gs-max-width="12" data-gs-max-height="12" data-gs-min-width="2" data-gs-min-height="2"> -->
<!-- <div class="grid-stack-item-content" style="height: auto;"> -->

    <!-- Work Area Master Div -->
    <div class="work-area-wrapper" id="work-area-wrapper">

        <style>
            .div1 {
                overflow-y: scroll;
                height: 420px;
            }
        </style>
        <!-- Work Area Header-->
        <div class="work-area-header" ondblclick="$('#work-area-body-area').toggle()">
            <div class="work-area-header-left">
                <img src="/assets/dist/img/icons/chat-head-icon.png">
                <span>Work Area</span>
            </div>

            <div class="work-area-header-right">
                <a style="font-size: 12px" title="Clear Area" (click)="deleteall()"><img
                        src="/assets/dist/img/icons/work-area-clear-icon.png"></a>
                <script>
                    function clearBox() {
                        document.getElementById('work-area-pdf-content').innerHTML = "";
                        document.getElementById('work-area-mp3-contents').innerHTML = "";
                        document.getElementById('work-area-psalms-contents').innerHTML = "";
                    }
                </script>


                <a class="work-area-dot-menu" onclick="$('#work-area-body').toggle()" href="javascript:void(0)"><i
                        class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                <div class="workarea-header-list enable" id="workarea-header-list-dropdown">
                    <div class="workarea-list-head">
                        <h5>Add To <span style="color: #ff0000">Journey</span> as:<i
                                onclick="toggleGarbageButton('work-area-body')" class="fa fa-close"></i></h5>
                    </div>

                    <div class="workarea-list-body">
                        <span> The Flesh Lusts Against the Spirit</span>
                    </div>
                </div>
                <a href="javascript:void(0)" (click)="toggleclose()" id="work-area-close-btn"><i
                        class="fa fa-close"></i></a>
            </div>

        </div>



        <div class="messageBox" *ngIf="showMessageBox" [ngStyle]="{'background-color':bgColor}">
            <p>{{message}} </p>
        </div>
        <!-- Work Area Body-->
        <div class="work-area-body" id="work-area-body-area">
            <div class="save-journey gridster-item-content" id="work-area-body">
                <input type="text" placeholder="Journey name.." [(ngModel)]="JourneyName">
                <h5 (click)="saveJourney()">Save Journey</h5>
            </div>
            <div class="work-area-body-wrapper div1">
                <!-- Work Area PDF-->
                <div class="work-area-pdf">

                    <h4>PDF's, URL's, Doc's<a (click)="toggleSection('pdfSection')">
                            <i *ngIf="!pdfSection" class="fa fa-angle-down"></i>
                            <i *ngIf="pdfSection" class="fa fa-angle-up"></i>
                        </a></h4>

                    <div *ngIf="pdfSection">
                        <div class="work-area-pdf-content enable" id="work-area-pdf-content" *ngFor="let item of list">

                            <!-- Content 01 -->
                            <div id="work-area-pdf-content-1" *ngIf="item.CONTENT_TYPE =='pdf'">
                                <div class="workarea-left">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                                <div class="workarea-right position-relative">
                             
                                    <span> {{item.verse}} </span>
                                    <span>{{item.meaning}}</span>
                                    <div class="garbage-icon">
                                    <span class="garbage" style="float: right; cursor:pointer;">
                                        <i class="fa fa-paper-plane" aria-hidden="true"
                                            (click)="sendmsg(item.verse,item.CONTENT_TYPE,item.pdfurl.URL)"></i>
                                    </span> <span class="garbage" style="float: right; cursor:pointer;">
                                        <i class="fa fa-trash-o" (click)="deleteworknote(item.id)"
                                            aria-hidden="true"></i>
                                    </span>
                                </div>
                                </div>
                            </div>




                        </div>

                    </div>


                    <!-- <div  (click)="WorkAreadelete(item.id)">
                                       
                                         
                                    </div> -->
                    <!-- content 01 -->
                    <!-- <div class="work-area-pdf-content enable" id="work-area-pdf-content"*ngFor="let item of list">
    
                          
                            <div id="work-area-pdf-content-1">
                                <div class="workarea-left">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                                <div class="workarea-right">
                                    <span> {{item.verse}} </span>
                                    <span class="garbage" style="float: right; cursor:pointer;">
                                        <i class="fa fa-trash-o"(click)="deleteworknote(item.id)" aria-hidden="true"
                                           ></i></span>
                                    <p>{{item.meaning}}</p>
                                </div>
                            </div>
    
                    
    
                        </div>
     -->


                </div>
                <hr class="work-area-hr">

                <!-- work area scriptures -->



                <div class="work-area-pdf">

                    <h4>Media Files<a (click)="toggleSection('mp3Section')">
                            <i *ngIf="!mp3Section" class="fa fa-angle-down"></i>
                            <i *ngIf="mp3Section" class="fa fa-angle-up"></i>
                        </a></h4>
                    <!-- <div  (click)="WorkAreadelete(item.id)">-->
                    <div *ngIf="mp3Section">

                        <div class="work-area-pdf-content enable" id="work-area-pdf-content" *ngFor="let item of list">
                            <!--         
                                            <div class="workarea-left" style="float: left">
                                                <img class="workarea-images" src="/assets/dist/img/icons/workarea-sound-icon.png">
                                            </div> -->

                            <div id="work-area-pdf-content-1" *ngIf="item.CONTENT_TYPE =='mp3'">
                                <div class="workarea-left">
                                    <img class="workarea-images" src="/assets/dist/img/icons/workarea-sound-icon.png">
                                </div>
                                <div class="workarea-right position-relative">
                                    <span> {{item.verse}} </span>
                                    <span>{{item.meaning}}</span>
                                    <div class="garbage-icon">
                                    <span class="garbage" style="float: right; cursor:pointer;">
                                        <i class="fa fa-paper-plane" aria-hidden="true"
                                            (click)="sendmsg(item.meaning,item.CONTENT_TYPE,item.mp3url.URL)"></i>
                                    </span> <span class="garbage" style="float: right; cursor:pointer;">
                                        <i class="fa fa-trash-o" (click)="deleteworknote(item.id)"
                                            aria-hidden="true"></i>
                                    </span>
                                </div>
                                </div>
                            </div>




                        </div>
                    </div>



                    <!-- <div class="work-area-mp3">
                        <h4>Media Files<a><i class="fa fa-angle-down" (click)="toggleSection('mp3Section')" ></i></a></h4>

                        <h6>Media Files<a href="javascript:void(0)" onclick="$('#work-area-mp3').toggle()"><i
                                    class="fa fa-angle-down"></i></a></h6> -->

                    <!-- <div id="work-area-mp3-contents" class="work-area-mp3-contents enable" id="work-area-mp3"> -->

                    <!-- Mp3 content 1 -->
                    <!-- <div id="work-area-mp3-content-1">
                                <div class="work-area-mp3-content">
    
                                    <div class="workarea-left" style="float: left">
                                        <img class="workarea-images" src="/assets/dist/img/icons/workarea-sound-icon.png">
                                    </div>
                                    <div class="workarea-right">
                                        Luke 11:4 - Forgiven and Forgiving
                                        <span class="garbage" style="float: right; cursor:pointer;">
                                            <i class="fa fa-trash-o" aria-hidden="true"
                                                onclick="RemoveWorkAreaDiv('work-area-mp3-content-1')"></i>
                                        </span>
                                        <br>
                                        <span style="font:500 12px 'Montserrat Regular'; color: #7e7e7e" href="#">
                                            Alistair Begg
                                        </span>
                                    </div>
    
                                </div>
                            </div> -->

                    <!-- Mp3 content 2 -->
                    <!-- <div id="work-area-mp3-content-2">
                                <div class="work-area-mp3-content">
    
                                    <div class="workarea-left" style="float: left">
                                        <img class="workarea-images" src="/assets/dist/img/icons/workarea-sound-icon.png">
                                    </div>
                                    <div class="workarea-right">
                                        1 John 1:9 - Do You Confess?
                                        <span class="garbage" style="float: right; cursor:pointer;">
                                            <i class="fa fa-trash-o" aria-hidden="true"
                                                onclick="RemoveWorkAreaDiv('work-area-mp3-content-2')"></i>
                                        </span>
                                        <br>
                                        <span style="font:500 12px 'Montserrat Regular'; color: #7e7e7e" href="#">
                                            JC Ryle
                                        </span>
                                    </div>
    
                                </div>
                            </div> -->

                    <!--     
    
                        </div> -->
                </div>

                <hr class="work-area-hr">
                <div class="work-area-pdf">

                    <h4>Verses<a (click)="toggleSection('verseSection')">
                            <i *ngIf="!verseSection" class="fa fa-angle-down"></i>
                            <i *ngIf="verseSection" class="fa fa-angle-up"></i>
                        </a></h4>

                    <!-- content 01 -->
                    <div *ngIf="verseSection">
                        <div class="work-area-pdf-content enable" id="work-area-pdf-content" *ngFor="let item of list">

                            <!-- Content 01 -->
                            <div id="work-area-pdf-content-1" *ngIf="item.CONTENT_TYPE =='scripture'">
                                <!-- <div class="workarea-left">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </div> -->
                                <div class="workarea-right position-relative">
                                    <span> {{item.verse}} </span>
                                    <p>{{item.meaning}}</p>
                                    <div class="garbage-icon">
                                    <span class="garbage" style="float: right; cursor:pointer;">
                                        <i class="fa fa-paper-plane" aria-hidden="true"
                                            (click)="sendmsg(item.meaning,item.CONTENT_TYPE,item.verse)"></i>
                                    </span> <span class="garbage" style="float: right; cursor:pointer;">
                                        <i class="fa fa-trash-o" (click)="deleteworknote(item.id)"
                                            aria-hidden="true"></i>
                                    </span>
                                </div>
                                    
                                </div>
                            </div>




                        </div>
                   </div>




                 <!-- </div> -->