<div style="width: 100%;" *ngIf="showHeader">
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 0;">
        <a class="navbar-brand" href="#"><img style="position: -webkit-sticky; margin-top: -40px;"
                src="/assets/dist/img/logo.png" alt="brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="user_wrap">
                            <img id="user-auth" src="/assets/dist/img/user_icon.png" alt="user_auth"
                                class="custom_icon img-circle" />
                            <div class="user_box">
                                <h3>&nbsp;{{userRecord?.roleName}} </h3>
                                <h5> &nbsp;&nbsp;{{userRecord?.first_name}} {{userRecord?.last_name}}</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><input type="checkbox" hidden [(ngModel)]="cal" data-md-icheck
                            id="cb_calendar-panel-grid" id="cb_navbar-cal-grid" (click)="openCaledar()" />
                        <label class="menusub" for="cb_navbar-cal-grid"><i
                                class="fa fa-calendar txt-primary"></i></label></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="notification_Dropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell-o"></i> <span
                            id="red-dot"></span> </a>
                    <div class="dropdown-menu" style="background-color: #f2c373; font-size: 14px;
                    font-weight: 600" aria-labelledby="notification_Dropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div id='date_time'><span style="color: white; font-size: 16px;">{{timeNow | date:'h:mm a'
                                }}<span class="line-gold"> - </span>{{ timeNow |date: 'dd MMM yyyy'}} </span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"> <i (click)="logout()" class="fa fa-sign-out"></i></a>
                </li>
            </ul>
            <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                <li class="nav-item">
                    <a class="dropdown-item">
                        <span class="image"><img src="" alt="Profile Image"></span>
                        <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item">
                        <span class="image"><img src="" alt="Profile Image"></span>
                        <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item">
                        <span class="image"><img src="" alt="Profile Image"></span>
                        <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item">
                        <span class="image"><img src="" alt="Profile Image"></span>
                        <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="text-center">
                        <a class="dropdown-item">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- navbar close -->
</div>

<router-outlet>
</router-outlet>