<div class="analytics-panel-wrapper" id="analytics-panel-wrapper">


    <!-- PDF Header-->
    <div class="analytics-panel-header" ondblclick="expandCollapse('analytics-panel')">
        <div class="analytics-panel-header-left">
            <img src="/assets/dist/img/icons/chart.png">
            <span>Chat Dispositions</span>
        </div>

        <div class="analytics-panel-header-right">
            <a href="javascript:void(0)" onclick="$('#analytics-panel-body').toggle()"
                id="analytics-panel-collapse-btn"><i class="fa fa-angle-down"></i></a>
            <a href="javascript:void(0)" (click)="toggleclosebtn()" id="analytics-panel-close-btn"><i
                    class="fa fa-close"></i></a>
        </div>

    </div>


    <!-- PDF panel Body-->
    <div class="analytics-panel-body" id="analytics-panel-body">
        <div class="analytics-left">
            <table>
                <tbody>
                    <tr>
                        <td><span class="dot" style="background: #ff0000;"></span></td>
                        <td>Burden Bearing (minimum 2+)</td>
                        <td style="background: #ff0000;">39</td>
                    </tr>
                    <tr>
                        <td><span class="dot" style="background: #ff8a00;"></span></td>
                        <td>Spiritual Conversation ad hoc</td>
                        <td style="background: #ff8a00;">7</td>
                    </tr>
                    <tr>
                        <td><span class="dot" style="background: #0084ff;"></span></td>
                        <td>Gospel Presentation</td>
                        <td style="background: #0084ff;">4</td>
                    </tr>
                    <tr>
                        <td><span class="dot" style="background: #53c826;"></span></td>
                        <td>Assurance of Salvation</td>
                        <td style="background: #53c826;">10</td>
                    </tr>
                    <tr>
                        <td><span class="dot" style="background: #e8c003;"></span></td>
                        <td>Not Responsive to message</td>
                        <td style="background: #e8c003;">10</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="analytics-right">
            <div id="analytics-chart" data-highcharts-chart="2" role="region"
                aria-label="Chart. Highcharts interactive chart." aria-hidden="false" style="overflow: hidden;">
                <div id="highcharts-screen-reader-region-before-2" aria-label="Chart screen reader information."
                    role="region" aria-hidden="false" style="position: relative;">
                    <div aria-hidden="false"
                        style="position: absolute; width: 1px; height: 1px; overflow: hidden; white-space: nowrap; clip: rect(1px, 1px, 1px, 1px); margin-top: -3px; opacity: 0.01;">
                        <h5>Chart</h5>
                        <div>Pie chart with 5 slices.</div>
                        <div><button id="hc-linkto-highcharts-data-table-2" tabindex="-1" aria-expanded="false">View as
                                data table, Chart</button></div>
                    </div>
                </div>
                <div aria-hidden="false" aria-live="assertive"
                    style="position: absolute; width: 1px; height: 1px; overflow: hidden; white-space: nowrap; clip: rect(1px, 1px, 1px, 1px); margin-top: -3px; opacity: 0.01;">
                </div>
                <div aria-hidden="false" aria-live="polite"
                    style="position: absolute; width: 1px; height: 1px; overflow: hidden; white-space: nowrap; clip: rect(1px, 1px, 1px, 1px); margin-top: -3px; opacity: 0.01;">
                </div>
                <div id="highcharts-qn0sx5f-16" dir="ltr" class="highcharts-container "
                    style="position: relative; overflow: hidden; width: 310px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none;"
                    tabindex="0" aria-hidden="false"><svg version="1.1" class="highcharts-root"
                        style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;"
                        xmlns="http://www.w3.org/2000/svg" width="310" height="400" viewBox="0 0 310 400"
                        aria-label="Interactive chart" aria-hidden="false">
                        <desc aria-hidden="true">Created with Highcharts 8.2.2</desc>
                        <defs aria-hidden="true">
                            <clipPath id="highcharts-qn0sx5f-22-">
                                <rect x="0" y="0" width="295" height="400" fill="none"></rect>
                            </clipPath>
                        </defs>
                        <rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="310" height="400" rx="0"
                            ry="0" aria-hidden="true"></rect>
                        <rect fill="none" class="highcharts-plot-background" x="15" y="0" width="295" height="400"
                            aria-hidden="true"></rect>
                        <rect fill="none" class="highcharts-plot-border" data-z-index="1" x="15" y="0" width="295"
                            height="400" aria-hidden="true"></rect>
                        <g class="highcharts-series-group" data-z-index="3" aria-hidden="false">
                            <g class="highcharts-series highcharts-series-0 highcharts-pie-series highcharts-tracker"
                                data-z-index="0.1" opacity="1" transform="translate(15,0) scale(1 1)"
                                style="cursor:pointer;" aria-hidden="false" aria-label="">
                                <path fill="#ff0000"
                                    d="M 147.4719949344919 62.500002851940735 A 137.5 137.5 0 1 1 99.29353272396331 328.7726155390361 L 99.64412521324357 327.83608742602496 A 136.5 136.5 0 1 0 147.47219860769562 63.50000283119934 Z"
                                    class="highcharts-halo highcharts-color-0" data-z-index="-1" fill-opacity="0.25"
                                    visibility="hidden"></path>
                                <path fill="rgb(255,0,0)"
                                    d="M 147.4719949344919 62.500002851940735 A 137.5 137.5 0 1 1 99.29353272396331 328.7726155390361 L 147.5 200 A 0 0 0 1 0 147.5 200 Z"
                                    transform="translate(0,0)" stroke="#ffffff" stroke-width="1" opacity="1"
                                    stroke-linejoin="round" class="highcharts-point highcharts-color-0" tabindex="-1"
                                    role="img" aria-label="1. Burden Bearing (minimum 2+), 39." style="outline: 0px;">
                                </path>
                                <path fill="#ff8a00"
                                    d="M 99.16478423311801 328.72434469349207 A 137.5 137.5 0 0 1 32.83366894221221 275.880712448855 L 147.5 200 A 0 0 0 0 0 147.5 200 Z"
                                    transform="translate(0,0)" stroke="#ffffff" stroke-width="1" opacity="1"
                                    stroke-linejoin="round" class="highcharts-point highcharts-color-1" tabindex="-1"
                                    role="img" aria-label="2. Spiritual Conversation ad hoc, 7." style="outline: 0px;">
                                </path>
                                <path fill="#0084ff"
                                    d="M 32.75784557557091 275.76600819655516 A 137.5 137.5 0 0 1 13.48401472405746 230.75655524466853 L 147.5 200 A 0 0 0 0 0 147.5 200 Z"
                                    transform="translate(0,0)" stroke="#ffffff" stroke-width="1" opacity="1"
                                    stroke-linejoin="round" class="highcharts-point highcharts-color-2" tabindex="-1"
                                    role="img" aria-label="3. Gospel Presentation, 4." style="outline: 0px;"></path>
                                <path fill="#53c826"
                                    d="M 13.45332518192592 230.62252390345228 A 137.5 137.5 0 0 1 39.93038569237957 114.35522153855622 L 147.5 200 A 0 0 0 0 0 147.5 200 Z"
                                    transform="translate(0,0)" stroke="#ffffff" stroke-width="1" opacity="1"
                                    stroke-linejoin="round" class="highcharts-point highcharts-color-3" tabindex="-1"
                                    role="img" aria-label="4. Assurance of Salvation, 10." style="outline: 0px;"></path>
                                <path fill="#e8c003"
                                    d="M 40.016084241369555 114.24769476456254 A 137.5 137.5 0 0 1 147.30901525851516 62.500132637051166 L 147.5 200 A 0 0 0 0 0 147.5 200 Z"
                                    transform="translate(0,0)" stroke="#ffffff" stroke-width="1" opacity="1"
                                    stroke-linejoin="round" class="highcharts-point highcharts-color-4" tabindex="-1"
                                    role="img" aria-label="5. Not Responsive to message, 10." style="outline: 0px;">
                                </path>
                            </g>
                            <g class="highcharts-markers highcharts-series-0 highcharts-pie-series" data-z-index="0.1"
                                opacity="1" transform="translate(15,0) scale(1 1)" aria-hidden="true"></g>
                        </g>
                        <g class="highcharts-exporting-group" data-z-index="3" aria-hidden="true"></g><text x="155"
                            text-anchor="middle" class="highcharts-title" data-z-index="4"
                            style="color:#333333;font-size:18px;fill:#333333;" y="14" aria-hidden="true"></text><text
                            x="155" text-anchor="middle" class="highcharts-subtitle" data-z-index="4"
                            style="color:#666666;fill:#666666;" y="14" aria-hidden="true"></text><text x="0"
                            text-anchor="start" class="highcharts-caption" data-z-index="4"
                            style="color:#666666;fill:#666666;" y="412" aria-hidden="true"></text>
                        <g class="highcharts-data-labels highcharts-series-0 highcharts-pie-series highcharts-tracker"
                            data-z-index="6" opacity="1" transform="translate(15,0) scale(1 1)" style="cursor:pointer;"
                            aria-hidden="true">
                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-0"
                                data-z-index="1" transform="translate(221,206)" opacity="1"><text x="5" data-z-index="1"
                                    y="16"
                                    style="color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;fill:#FFFFFF;">
                                    <tspan x="5" y="16" class="highcharts-text-outline" fill="#000000" stroke="#000000"
                                        stroke-width="2px" stroke-linejoin="round" style="">39</tspan>
                                    <tspan x="5" y="16">39</tspan>
                                </text></g>
                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-1"
                                data-z-index="1" transform="translate(84,258)" opacity="1"><text x="5" data-z-index="1"
                                    y="16"
                                    style="color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;fill:#FFFFFF;">
                                    <tspan x="5" y="16" class="highcharts-text-outline" fill="#000000" stroke="#000000"
                                        stroke-width="2px" stroke-linejoin="round" style="">7</tspan>
                                    <tspan x="5" y="16">7</tspan>
                                </text></g>
                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-2"
                                data-z-index="1" transform="translate(58,224)" opacity="1"><text x="5" data-z-index="1"
                                    y="16"
                                    style="color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;fill:#FFFFFF;">
                                    <tspan x="5" y="16" class="highcharts-text-outline" fill="#000000" stroke="#000000"
                                        stroke-width="2px" stroke-linejoin="round">4</tspan>
                                    <tspan x="5" y="16">4</tspan>
                                </text></g>
                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-3"
                                data-z-index="1" transform="translate(50,171)" opacity="1"><text x="5" data-z-index="1"
                                    y="16"
                                    style="color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;fill:#FFFFFF;">
                                    <tspan x="5" y="16" class="highcharts-text-outline" fill="#000000" stroke="#000000"
                                        stroke-width="2px" stroke-linejoin="round">10</tspan>
                                    <tspan x="5" y="16">10</tspan>
                                </text></g>
                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-4"
                                data-z-index="1" transform="translate(97,111)" opacity="1"><text x="5" data-z-index="1"
                                    y="16"
                                    style="color:#000000;cursor:pointer;font-size:11px;font-weight:bold;fill:#000000;">
                                    <tspan x="5" y="16" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF"
                                        stroke-width="2px" stroke-linejoin="round">10</tspan>
                                    <tspan x="5" y="16">10</tspan>
                                </text></g>
                        </g>
                        <g class="highcharts-legend" data-z-index="7" aria-hidden="true">
                            <rect fill="none" class="highcharts-legend-box" rx="0" ry="0" x="0" y="0" width="8"
                                height="8" visibility="hidden"></rect>
                            <g data-z-index="1">
                                <g></g>
                            </g>
                        </g><text x="300" class="highcharts-credits" text-anchor="end" data-z-index="8"
                            style="cursor:pointer;color:#999999;font-size:9px;fill:#999999;" y="395"
                            aria-label="Chart credits: Highcharts.com" aria-hidden="false">Highcharts.com</text>
                        <g class="highcharts-label highcharts-tooltip highcharts-color-0"
                            style="white-space:nowrap;pointer-events:none;" data-z-index="8"
                            transform="translate(145,-9999)" opacity="0" visibility="hidden" aria-hidden="true">
                            <path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow"
                                d="M 3.5 0.5 L 160.5 0.5 C 163.5 0.5 163.5 0.5 163.5 3.5 L 163.5 44.5 C 163.5 47.5 163.5 47.5 160.5 47.5 L 3.5 47.5 C 0.5 47.5 0.5 47.5 0.5 44.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                stroke="#000000" stroke-opacity="0.049999999999999996" stroke-width="5"
                                transform="translate(1, 1)"></path>
                            <path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow"
                                d="M 3.5 0.5 L 160.5 0.5 C 163.5 0.5 163.5 0.5 163.5 3.5 L 163.5 44.5 C 163.5 47.5 163.5 47.5 160.5 47.5 L 3.5 47.5 C 0.5 47.5 0.5 47.5 0.5 44.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                stroke="#000000" stroke-opacity="0.09999999999999999" stroke-width="3"
                                transform="translate(1, 1)"></path>
                            <path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow"
                                d="M 3.5 0.5 L 160.5 0.5 C 163.5 0.5 163.5 0.5 163.5 3.5 L 163.5 44.5 C 163.5 47.5 163.5 47.5 160.5 47.5 L 3.5 47.5 C 0.5 47.5 0.5 47.5 0.5 44.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                stroke="#000000" stroke-opacity="0.15" stroke-width="1" transform="translate(1, 1)">
                            </path>
                            <path fill="rgba(247,247,247,0.85)" class="highcharts-label-box highcharts-tooltip-box"
                                d="M 3.5 0.5 L 160.5 0.5 C 163.5 0.5 163.5 0.5 163.5 3.5 L 163.5 44.5 C 163.5 47.5 163.5 47.5 160.5 47.5 L 3.5 47.5 C 0.5 47.5 0.5 47.5 0.5 44.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
                                stroke="#ff0000" stroke-width="1"></path><text x="8" data-z-index="1" y="20"
                                style="color:#333333;cursor:default;font-size:12px;fill:#333333;">
                                <tspan style="font-size: 10px">Burden Bearing (minimum 2+)</tspan>
                                <tspan x="8" dy="15">39</tspan>
                            </text>
                        </g>
                    </svg></div>
                <div id="highcharts-screen-reader-region-after-2" aria-label="" aria-hidden="false"
                    style="position: relative;">
                    <div aria-hidden="false"
                        style="position: absolute; width: 1px; height: 1px; overflow: hidden; white-space: nowrap; clip: rect(1px, 1px, 1px, 1px); margin-top: -3px; opacity: 0.01;">
                        <div id="highcharts-end-of-chart-marker-2">End of interactive chart.</div>
                    </div>
                </div>
                <div class="highcharts-exit-anchor" tabindex="0" aria-hidden="false"></div>
            </div>
        </div>
    </div>

</div>