.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #71c4fc;
}

.bg-dark2:hover {
    background-color: #71c4fc;
}

.bg-dark2 {
    font-weight: 100;
    font-family: "Montserrat Medium";
    font-size: 14px;
}

.menusub {
    margin-top: -1em;
    margin-bottom: -em;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    vertical-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 25px;
}

.bg-dark1 {
    background-color: #f2c373;
    font-size: 14px;
    margin-left: 5px;
    font-weight: normal;
}

.label {
    font-family: "Montserrat Medium";
    font-weight: normal;
    padding: 1px;
}

.bg-dark1:hover {
    background-color: #f2c373;
}

.accordion:after {
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.panel {
    padding: 0px;
    width: 103%;
    margin-left: -0.7em;
    max-height: 0;
    overflow: hidden;
    transition: 0;
}

.gridster.fixed {
    overflow: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: #0d0d0e;
}

body,
.mat-toolbar.mat-primary {
    background: #000000;
    color: #fff;
}

html {
    height: 100%;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: black;
}


/*-------------------------------*/


/*           Wrappers            */


/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}


/*-------------------------------*/


/*     Sidebar nav styles        */


/*-------------------------------*/

.navbar {
    padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li:hover {
    background: skyblue !important;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}

.sidebar-brand {
    height: 65px;
    position: relative;
    background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
    padding-top: 1em;
}

.sidebar-brand a {
    color: #ddd;
}

.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}

.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.dropdown-menu.show {
    top: 0;
}


/*Fontawesome icons*/

.nav.sidebar-nav li a::before {
    font-family: fontawesome;
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;
}


/*-------------------------------*/


/*       Hamburger-Cross         */


/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.example-container {
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    user-select: none;
}

.full-width {
    width: 100%;
}

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-button.rotated {
    transform: rotate(180deg);
}

.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
}

.submenu.expanded {
    transform: scaleY(1);
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    /*min-height: 100vh;*/
    background-color: white;
    padding: 0;
}


/* Sidebar sizes when expanded and expanded */

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}


/* Menu item*/

#sidebar-container .list-group a {
    height: 50px;
}


/* Submenu item*/

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}


/* Separators */

.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;
    height: 60px;
}


/* Closed submenu icon */

#sidebar-container .list-group .list-group-item .submenu-icon::after {
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}


/* Opened submenu icon */

#sidebar-container .list-group .list-group-item .submenu-icon::after {
    font-family: FontAwesome;
    display: none;
    text-align: right;
    padding-left: 10px;
}

.hello {
    background-color: yellowgreen;
}

.a {
    background-color: yellowgreen;
}

.ul {
    background-color: yellow;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    /*min-height: 100vh;*/
    background-color: #333;
    padding: 0;
}


/* Sidebar sizes when expanded and expanded */

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}


/* Menu item*/

#sidebar-container .list-group a {
    height: 50px;
    color: white;
}


/* Submenu item*/

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}


/* Separators */

.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;
    height: 60px;
}


/* Closed submenu icon */

#sidebar-container .list-group .list-group-item .submenu-icon::after {
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}


/* Opened submenu icon */

#sidebar-container .list-group .list-group-item .submenu-icon::after {
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.a:hover {
    background-color: #71c4fc;
}

/* .chatcomponentexpanded {
    z-index: 1;
    display: block;
    transform: translate3d(0px, 0px, 0px);
    width: 352.5px;
    height: 362px;
}

.chatcomponentclosed {
    z-index: 1;
    display: block;
    transform: translate3d(0px, 0px, 0px);
    width: 352.5px;
    height: 50px !important
} */


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding:12px 60px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    padding: 6px 20px;
    border-top: 1px solid #ccc;
    border-top: none;
    font-size: 16px;
  }

  .form-control {height: 34px !important;}
  .tabcontent label {font-weight: normal;}

  .tabcontent h3 {font-size: 20px; font-weight: 600; margin-bottom: 30px; margin-top: 20px;}
  .btn-uploads {text-align: right;}
  .btn-uploads .btn {padding: 5px 30px; font-size: 18px;}