<!-- <div class="grid-stack-item barna-panel-grid" id="barna-panel-grid" data-gs-height="5" data-gs-min-height="5" data-gs-min-width="4" data-gs-width="4" data-gs-x="5" data-gs-y="0"> -->
<!-- <div class="grid-stack-item-content"> -->


    <!-- PDF's master Div -->
    <div class="barna-panel-wrapper" id="barna-panel-wrapper">


        <!-- PDF Header-->
        <div class="barna-panel-header" ondblclick="$('#barna-panel-body').toggle()">
            <div class="barna-panel-header-left gridster-item-content">
                <img src="/assets/dist/img/icons/barna.png">

                <span>Barna Stats</span>
            </div>

            <div class="barna-panel-header-right gridster-item-content">
                <a href="javascript:void(0)" onclick="$('#barna-panel-body').toggle();"><i class="fa fa-angle-down"></i></a>
                <a href="javascript:void(0)" class="gridster-item-content" (click)="togglecloseb()"><i class="fa fa-close"></i></a>
            </div>

        </div>


        <!-- PDF panel Body-->
        <div class="barna-panel-body" id="barna-panel-body">
            <div class="bible-searchbar-wrapper">
                <div class="bible-searchbar">
                    <input width="100%" type="text" placeholder="Search...">
                    <i href="#" class="fa fa-search"></i>
                </div>
            </div>
            <div class="phase">
                <table>
                 
                    <tr>
                        <td>FileName.jpg</td>
                        <td><img src="/assets/dist/img/icons/barna-img1.png"></td>
                    </tr>
                    <tr>
                        <td>FileName.jpg</td>
                        <td><img src="/assets/dist/img/icons/barna-img1.png"></td>
                    </tr>
                    <tr>
                        <td>FileName.jpg</td>
                        <td><img src="/assets/dist/img/icons/barna-img1.png"></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

<!-- </div> -->
<!-- </div> -->