<!-- <div class="grid-stack grid-stack-instance-3166" data-gs-current-height="9" style="height: 200px;"> -->
<!-- <div class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide" id="personal-favs-grid" data-gs-x="0" data-gs-y="0" data-gs-width="5" data-gs-height="9" data-gs-auto-position="yes" data-gs-id="personal-favs-grid"> -->

<!-- <div class="row">
    <div class="col"> -->
<div class="journey-sub2-wrapper" id="journey-sub2-wrapper" >
    <div  *ngIf="isShowDiv">
        <!-- Personal Favs Topics -->
        <div class="personal-favs-topics" style="min-width: 150px" *ngIf="!isShownbox">
            <div class="personal-favs-topics-header">
                <h5 class="gridster-item-content">Favorites List</h5>
                <i (click)="toggleShowbtn()" class="fa fa-close"></i>
            </div>
            <div class="personal-favs-topics-body gridster-item-content" *ngFor="let fav of favlist">
                <a (click)="onSelect(fav.id)">{{fav.TERM}} <i class="fa fa-trash hide"></i> </a>

            </div>
        </div>
    </div>


    <!-- Personal Favs Header-->
    <div class="personal-favs-header" (click)="toggleShow()" type="checkbox">
        <div class="personal-favs-header-left">
            <img src="/assets/dist/img/icons/personal-favs-head-icon.png">
            <span>Personal Favs</span>
        </div>
        <div class="personal-favs-header-right">
            <a class="fav-dot-menu" href="javascript:void(0)" onclick="$('#personal-favs-Spirit').toggle()"><i
                    class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
            <a href="javascript:void(0)" (click)="toggleclose()" id="personal-favs-close-btn"><i
                    class="fa fa-close"></i></a>
        </div>
    </div>

    <!-- Personal Favs Favorites List-->
    <div class="personal-favs-favorite-list gridster-item-content">
        <div class="personal-favs-favorite-list-left">

            <i class="fa fa-list"></i>
            <span> Favorites List </span>
            <i class="fa fa-arrow-right personalFavsDropbtn" (click)="toggleDisplayDiv()"></i>
            <span class="addToTopic" (click)="toggleSaveOptions()">Add to Topic</span>
        </div>
    </div>

    

    <!-- </div> -->

    <!-- Personal Favs Body-->
    <span class="text-success text-center" style="text-align: center; display: blo"> {{message}} </span>
    <div class="personal-favs-body gridster-item-content" id="personal-favs" [formGroup]="personalfavFrom"
        (ngSubmit)="onsubmit()">
        <div *ngIf="showSavingOptions">
            <label>
                <input type="radio" name="radAnswer" (click)="toggleSaveButton('new Save')" /> save new fav
            </label>
            <label>
                <input type="radio" name="radAnswer" (click)="toggleSaveButton('old Save')" /> save in previous
                fav list
            </label>
            <div *ngIf="saveNewTopic">

                <input type="text" formControlName="term" placeholder="term">
                <input type="text" formControlName="relatedTerm" placeholder="related words">
                <button (click)="onsubmit()" type="submit">SAVE</button>
            </div>
            <div *ngIf="saveinPreviousTopic">
                <select>
                    <option>Select 1</option>
                    <option>opt1</option>
                    <option>opt2</option>
                    <option>opt3</option>
                </select>
                <button>SAVE</button>
            </div>

        </div>

        <!-- Personal Favs Searchbar -->
        <div class="personal-favs-searchbar gridster-item-content">
            <input width="100%" type="text" placeholder="Search...">
            <i href="#" class="fa fa-search"></i>
        </div>

        <!-- Personal Favs Slidebar -->
        <div class="personal-favs-slider">
            <div class="slideshow-container">

                <!-- Slide 01 -->
                <div class="mySlides  " style="display: block;">
                    <!-- <div class="numbertext">1 / 3</div> -->

                    <!-- Personal Favs Body Header -->
                    <div class="personal-favs-body-header">
                        <h5 style="font-weight:500; font-size: 12px; color: #78500c">Main Terms </h5>
                        <div class="personal-favs-body-heading-contents">
                            <span class="personalFavsHeading"> {{selectedTerm?.TERM}} </span>
                            <span class="addToVerse" href="#">Add to Verse</span>


                            <!-- Slider Buttons -->
                            <div class="personal-favs-slider-buttons">
                                <a class="prev" (click)="changeTerm(0,selectedTerm?.id)">❮</a>
                                <a class="next" (click)="changeTerm(1,selectedTerm?.id)">❯</a>
                            </div>
                        </div>

                        <!-- Related Terms -->
                        <div class="personal-favs-related-terms">
                            <h5 style="color: #78500c">Related Terms</h5>
                            <h6 style="font-family: 'Montserrat Medium'; color: #6e6e6e">
                                {{selectedTerm?.RELATEDTERM}}
                            </h6>
                        </div>
                    </div>

                    <!-- Personal Favs Count -->
                    <div class="personal-favs-count">

                        <!-- Personal Favs Count Header-->
                        <div class="personal-favs-count-header">
                            <!-- <span class="personal-favs-count-time">
                                            11 Times
                                        </span> -->
                            <span class="personal-favs-count-number">
                                {{list?.length}} Favs
                            </span>
                        </div>

                    </div>
                    <style>
                        .div1 {
                            overflow-y: scroll;
                            height: 300px;
                        }
                    </style>
                    <!-- Personal Favs Contents -->
                    <div class="personal-favs-contents div1">
                        <!--                                                        work-area-pdf-content-->
                        <!-- Table for Contents -->
                        <table class="table-responsive" *ngFor="let item of list">
                            <tbody>

                                <!-- Content 1 -->
                                <tr>
                                    <td class="personal-favs-table-time">
                                        <h5 class="personal-favs-time personalFavsHeading">{{item.verse}}</h5>
                                        <button type="submit"><i class="fa fa-trash-o" *ngIf="isShown"
                                                (click)="personalfavdelete(item.id)" id="personal-favs-Spirit"
                                                aria-hidden="true"></i></button>
                                    </td>
                                    <td class="personal-favs-table-paragraph">
                                        <a onclick="copyMe(this);">
                                            <p>
                                                {{item.meaning}}
                                            </p>
                                            <hr class="work-area-hr-small">
                                        </a>
                                    </td>
                                </tr>



                                <!-- <tr>
                                                <td class="personal-favs-table-time">
                                                    <h5>Mar 4:19 </h5>
                                                    <button type="submit"><i class="fa fa-trash-o" id="personal-favs-Spirit"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                                <td class="personal-favs-table-paragraph">
                                                    <a onclick="copyMe(this);">
                                                        <p>
    
                                                            but the worries of the world, and the deceitfulness of riches, and the <span class="blue">desires</span> for other things enter in and choke the word, and it becomes unfruitful.
                                                        </p>
                                                        <hr class="work-area-hr-small">
                                                    </a>
                                                </td>
                                            </tr> -->

                                <!-- Content 3 -->
                                <!-- <tr>
                                                <td class="personal-favs-table-time">
                                                    <h5>Jhn 8:44 </h5>
                                                    <button type="submit"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                                <td class="personal-favs-table-paragraph">
                                                    <a onclick="copyMe(this);">
                                                        <p>
                                                            “You are of your father the devil, and you want to do the <span class="blue">desires</span> of your father. He was a murderer from the beginning, and does not stand in the truth because there is
                                                            no truth in him. Whenever he speaks a lie, he speaks from his own nature, for he is a liar and the father of lies.
    
                                                        </p>
                                                        <hr class="work-area-hr-small">
                                                    </a>
                                                </td>
                                            </tr> -->

                                <!-- Content 4 -->
                                <!-- <tr>
                                                <td class="personal-favs-table-time">
                                                    <h5>Rom 1:24 </h5>
                                                    <button type="submit"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                                <td class="personal-favs-table-paragraph">
                                                    <a onclick="copyMe(this);">
                                                        <p>
                                                            Therefore God gave them over in the <span class="blue">lusts</span> of their hearts to impurity, so that their bodies would be dishonored among them.
    
                                                        </p>
                                                        <hr class="work-area-hr-small">
                                                    </a>
                                                </td>
                                            </tr> -->

                                <!-- Content 5 -->
                                <!-- <tr>
                                                <td class="personal-favs-table-time">
                                                    <h5>Gal 5:17 </h5>
                                                    <button type="submit"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                                <td class="personal-favs-table-paragraph">
                                                    <a onclick="copyMe(this);">
                                                        <p>
                                                            For the flesh sets its <span class="blue">desire</span> against the Spirit, and the Spirit against the flesh; for these are in opposition to one another, so that you may not do the things that you
                                                            please.
                                                        </p>
                                                        <hr class="work-area-hr-small">
                                                    </a>
                                                </td>
                                            </tr> -->

                                <!-- Content 6 -->
                                <!-- <tr>
                                                <td class="personal-favs-table-time">
                                                    <h5>Eph 2:3 </h5>
                                                    <button type="submit"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                                <td class="personal-favs-table-paragraph">
                                                    <a onclick="copyMe(this);">
                                                        <p>
                                                            Among them we too all formerly lived in the <span class="blue">lusts</span> of our flesh, indulging the desires of the flesh and of the mind, and were by nature children of wrath, even as the rest.
                                                        </p>
                                                        <hr class="work-area-hr-small">
                                                    </a>
                                                </td>
                                            </tr> -->

                                <!-- Content 7 -->
                                <!-- <tr>
                                                <td class="personal-favs-table-time">
                                                    <h5>Jas 1:14 </h5>
                                                    <button type="submit"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                                <td class="personal-favs-table-paragraph">
                                                    <a onclick="copyMe(this);">
                                                        <p>
                                                            But each one is tempted when he is carried away and enticed by his own <span class="blue">lust</span>.
                                                        </p>
                                                        <hr class="work-area-hr-small">
                                                    </a>
                                                </td>
                                            </tr> -->


                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Slide 02 -->
                <div class="mySlides  " style="display: none;">
                    <div class="numbertext">2 / 3</div>

                    <!-- Personal Favs Body Header -->
                    <div class="personal-favs-body-header">
                        <h5 style="font-weight:500; font-size: 12px; color: #78500c">Main Terms </h5>
                        <div class="personal-favs-body-heading-contents">
                            <span class="personalFavsHeading"> Lusts </span>
                            <span class="addToVerse" href="#">Add to Verse</span>

                            <!-- Slider Buttons -->
                            <div class="personal-favs-slider-buttons">
                                <a class="prev" onclick="plusSlides(-1)">❮</a>
                                <a class="next" onclick="plusSlides(1)">❯</a>
                            </div>
                        </div>

                        <h5 style="color: #78500c">Related Terms</h5>
                        <h6 style="font-family: 'Montserrat Medium'; color: #6e6e6e">
                            Lusts - Affections - Flesh - Passions - Devotions
                        </h6>
                    </div>

                    <!-- Personal Favs Count -->
                    <div class="personal-favs-count">

                        <!-- Personal Favs Count Header-->
                        <div class="personal-favs-count-header">
                            <span class="personal-favs-count-time">
                                11 Times
                            </span>
                            <span class="personal-favs-count-number">
                                7 Favs.
                            </span>
                        </div>



                    </div>

                    <!-- Personal Favs Contents -->
                    <div class="personal-favs-contents">

                        <!-- Table for Contents -->
                        <table class="table-responsive">
                            <tbody>

                                <!-- Content 1 -->
                                <tr>
                                    <td class="personal-favs-table-time">
                                        <h5>Mar 4:19 </h5>
                                        <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                    <td class="personal-favs-table-paragraph">
                                        Vivamus ac congue nulla. Donec gravida vehicula lorem. Phasellus tempor,
                                        eros nec placerat iaculis, lacus est faucibus nunc, eu vehicula urna
                                        nisl vitae eros.
                                    </td>
                                </tr>

                                <!-- Content 2 -->
                                <tr>
                                    <td class="personal-favs-table-time">
                                        <h5>Mar 4:20 </h5>
                                        <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                    <td class="personal-favs-table-paragraph">
                                        Phasellus tempor, eros nec placerat iaculis,
                                    </td>
                                </tr>

                                <!-- Content 3 -->
                                <tr>
                                    <td class="personal-favs-table-time">
                                        <h5>Mar 4:21 </h5>
                                        <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                    <td class="personal-favs-table-paragraph">consectetur adipiscing elit. Morbi
                                        finibus rhoncus est accumsan interdum. Vivamus ac congue nulla. Donec
                                        gravida vehicula lorem.
                                    </td>
                                </tr>

                                <!-- Content 4 -->
                                <tr>
                                    <td class="personal-favs-table-time">
                                        <h5>Mar 4:22 </h5>
                                        <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                    <td class="personal-favs-table-paragraph">
                                        Vivamus ac congue nulla. Donec gravida vehicula lorem. Phasellus tempor,
                                        eros nec placerat iaculis, lacus est faucibus nunc, eu vehicula urna
                                        nisl vitae eros.
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Slide 03 -->
                <div class="mySlides  " style="display: none;">
                    <div class="numbertext">3 / 3</div>

                    <!-- Personal Favs Body Header -->
                    <div class="personal-favs-body-header">
                        <h5 style="font-weight:500; font-size: 12px; color: #78500c">Main Terms </h5>
                        <div class="personal-favs-body-heading-contents">
                            <span class="personalFavsHeading"> Affection </span>
                            <span class="addToVerse" href="#">Add to Verse</span>

                            <!-- Slider Buttons -->
                            <div class="personal-favs-slider-buttons">
                                <a class="prev" onclick="plusSlides(-1)">❮</a>
                                <a class="next" onclick="plusSlides(1)">❯</a>
                            </div>
                        </div>

                        <h5 style="color: #78500c">Related Terms</h5>
                        <h6 style="font-family: 'Montserrat Medium'; color: #6e6e6e">
                            Lusts - Affections - Flesh - Passions - Devotions
                        </h6>
                    </div>

                    <!-- Personal Favs Count -->
                    <div class="personal-favs-count">

                        <!-- Personal Favs Count Header-->
                        <div class="personal-favs-count-header">
                            <span class="personal-favs-count-time">
                                11 Times
                            </span>
                            <span class="personal-favs-count-number">
                                7 Personal Files.
                            </span>
                        </div>

                        <!-- Personal Favs Count Buttons -->
                        <!-- <div class="personal-favs-count-buttons">
                                            <button class="oldTreatments">
                                                <h5> Old Testament (10) </h5>
                                            </button>
                                            <button class="newTreatments">
                                                <h5> New Testament (15) </h5>
                                            </button>
                                        </div>
    
                                        <div class="personal-favs-count-books">
                                            <button type="submit"  class="personal-favs-single-book"><h5> Mat(2)</h5></button>
                                            <button type="submit"  class="personal-favs-single-book"><h5> Mat(2)</h5></button>
                                            <button type="submit"  class="personal-favs-single-book"><h5> Mat(2)</h5></button>
                                            <button type="submit"  class="personal-favs-single-book"><h5> Mat(2)</h5></button>
                                            <button type="submit"  class="personal-favs-single-book"><h5> Mat(2)</h5></button>
                                            <button type="submit"  class="personal-favs-single-book"><h5> Mat(2)</h5></button>
                                            <button type="submit"  class="personal-favs-single-book"><h5> Mat(2)</h5></button>
                                            <button type="submit"  class="personal-favs-single-book"><h5> Mat(2)</h5></button>
                                            <button type="submit"  class="personal-favs-single-book"><h5> Mat(2)</h5></button>
                                            <button type="submit"  class="personal-favs-single-book"><h5> Mat(2)</h5></button>
    
                                        </div> -->

                    </div>

                    <!-- Personal Favs Contents -->
                    <div class="personal-favs-contents">

                        <!-- Table for Contents -->
                        <table class="table-responsive">
                            <tbody>

                                <!-- Content 1 -->
                                <tr>
                                    <td class="personal-favs-table-time">
                                        <h5>Mar 4:19 </h5>
                                        <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                    <td class="personal-favs-table-paragraph">Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Morbi finibus rhoncus est accumsan
                                        interdum.

                                    </td>
                                </tr>

                                <!-- Content 2 -->
                                <tr>
                                    <td class="personal-favs-table-time">
                                        <h5>Mar 4:20 </h5>
                                        <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                    <td class="personal-favs-table-paragraph">Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Morbi finibus rhoncus est accumsan
                                        interdum.

                                    </td>
                                </tr>

                                <!-- Content 3 -->
                                <tr>
                                    <td class="personal-favs-table-time">
                                        <h5>Mar 4:21 </h5>
                                        <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                    <td class="personal-favs-table-paragraph">Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Morbi finibus rhoncus est accumsan
                                        interdum.

                                    </td>
                                </tr>

                                <!-- Content 4 -->
                                <tr>
                                    <td class="personal-favs-table-time">
                                        <h5>Mar 4:22 </h5>
                                        <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                    <td class="personal-favs-table-paragraph">
                                        Vivamus ac congue nulla. Donec gravida vehicula lorem. Phasellus tempor,
                                        eros nec placerat iaculis, lacus est faucibus nunc, eu vehicula urna
                                        nisl vitae eros.
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>


            </div>



        </div>
    </div>
</div>

<!-- </div> -->

<!-- </div> -->

<!-- </div> -->
<!-- <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;"></div></div></div> -->