.personal-favs-body, .personal-favs-wrapper {border: 0 !important;}
.grid-stack-item-content {border: 2px solid #78500c;}
.fav-dot-menu:hover i {color: #fff;}

/* gridster-item{
   overflow: inherit !important;
} */
/* gridster-item.gridster-item-content.chatcomponentexpanded {
    overflow: inherit !important;
} */